
*.odt#

*.zip

*.wav
*.mkv

.trash/

*.tgz

*/fp-info-cache

*#auto_saved_files#

*.lck
Recordings


Kicad/ESP32-S3 Hub/fp-info-cache

.obsidian/workspace.json

.obsidian/plugins/various-complements/histories.json

wak.toml

Kicad/2s 40A PSU and charger/fp-info-cache
